<ul class="nav">
  <li>
    <%= link_to "Maximize MD", root_path, :class => 'brand' %>
  </li>
</ul>

<div class='nav_item'>
  <%= link_to 'Dashboards', dashboards_path, class: 'btn btn-warning btn-small' %> 
</div> 

<div class='nav_item'>
  <%= link_to 'Add Patients', new_patient_path, class: 'btn btn-success btn-small' %> 
</div> 

<div class='btn-group nav_item'>
  <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    Reports 
     <span class='caret'></span> 
  <%end%> 

    <ul class='dropdown-menu'>

        <li>
          <%= link_to edit_user_path(current_user) do %>
          <i class ='icon-pencil'></i> 
          Financial Reports
          <% end %>   

        </li> 
        

        <li>
          <%= link_to user_path(current_user) do %>
          <i class ='icon-user'></i> 
          Status Reports
          <% end %>   

        </li> 
     
        <li class='divider'></li> 
        <li>
          <%= link_to(logout_path) do %> 
            <i class="icon-circle-arrow-left"></i>
           Create Reports
            <% end %> 
        </li> 
      </ul> 
  </div> 


<% if logged_in? %> 

<div class='btn-group nav_item'>
  
  <%= link_to '#', class: 'btn btn-small dropdown-toggle', 'data-toggle' => 'dropdown' do %>
    <%= current_user.full_name %>  
     <span class='caret'></span> 
  <%end%> 

    <ul class='dropdown-menu'>

        <li>
          <%= link_to edit_user_path(current_user) do %>
          <i class ='icon-pencil'></i> 
          edit profile
          <% end %>   

        </li> 
        

        <li>
          <%= link_to user_path(current_user) do %>
          <i class ='icon-user'></i> 
          view profile
          <% end %>   

        </li> 
     
        <li class='divider'></li> 
        <li>
          <%= link_to(logout_path) do %> 
            <i class="icon-circle-arrow-left"></i>
            logout
            <% end %> 
        </li> 
      </ul> 
   
  </div> 

  <% end %> 